{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>{{ SITE_NAME }}</title>
    <link href="{% static 'css/mdui.css' %} " rel="stylesheet">
</head>
<body class="mdui-theme-primary-green mdui-theme-accent-green">
<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-green-600 mdui-text-color-white">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
        <a href="javascript:;" class="mdui-typo-headline">{{ SITE_NAME }}</a>
        <a href="javascript:;" class="mdui-typo-title">{{ SITE_DESC }}</a>
        <div class="mdui-toolbar-spacer"></div>
    </div>
    <div class="mdui-tab mdui-color-green-100 mdui-tab-centered mdui-tab-scrollable" mdui-tab>
        {% for link in LinkList %}
            <a href="{{ link.href }}" class="mdui-ripple mdui-ripple-white {{ link.active }}">{{ link.title }}</a>
        {% endfor %}
    </div>
</div>
<div class="mdui-container">
    {% if not ArticleList and not Context %}
        <strong>未找到任何内容</strong>
    {% endif %}
    {% if content %}
        <div id="content" class="">
            <div class="mdui-card mdui-m-t-2 mdui-shadow-6">
                <!-- 卡片头部，包含头像、标题、副标题 -->
                <div class="mdui-card-header">
                    <img class="mdui-card-header-avatar" src="{% static ''%}{{ content.header }}"/>
                    <div class="mdui-card-header-title">用户: {{ content.nick }}</div>
                    <div class="mdui-card-header-subtitle">邮箱: {{ content.email }}</div>
                    <br>
                    <div class="mdui-chip mdui-m-r-1 mdui-color-green-300">
                        <span class="mdui-chip-title">{{ content.tags }}</span>
                    </div>
                    <strong>[{{ content.catagory }}]{{ content.title }}</strong>
                </div>
                <div class="mdui-card-primary">
                    <button class="mdui-btn mdui-btn-block mdui-m-t-2">正在浏览此文章</button>
                </div>
                <div class="mdui-divider"></div>
                <!-- 卡片的内容 -->
                <div class="mdui-card-content mdui-typo mdui-m-a-1">
                    {% autoescape off %}
                        {{ content.text }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    {% endif %}
    <div id="article">
        {% for article in ArticleList %}
            {% if article.id != content.id %}
                <a href="/catagory/{{ article.catagory }}/{{ article.id }}-{{ article.title }}" style="text-decoration: none;">
                    <div class="mdui-card mdui-m-t-2 mdui-hoverable mdui-ripple">
                        <!-- 卡片头部，包含头像、标题、副标题 -->
                        <div class="mdui-card-header">
                            <img class="mdui-card-header-avatar" src="{% static ''%}{{ article.header }}"/>
                            <div class="mdui-card-header-title">用户: {{ article.nick }}</div>
                            <div class="mdui-card-header-subtitle">邮箱: {{ article.email }}</div>
                            <br>
                            <div class="mdui-chip mdui-m-r-1 mdui-color-green-200">
                                <span class="mdui-chip-title">{{ article.tags }}</span>
                            </div>
                            <strong>[{{ article.catagory }}]{{ article.title }}</strong>
                        </div>
                        <!-- 卡片的标题和副标题 -->
                        <div class="mdui-card-primary">

                        </div>
                        <div class="mdui-divider"></div>
                        <!-- 卡片的内容 -->
                        <div class="mdui-card-content">描述:{{ article.desc }}</div>
                    </div>
                </a>

            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="mdui-m-t-4"></div>
{{ paths }}
{% if content %}
    <div class="mdui-fab-wrapper" id="exampleFab">
        <button class="mdui-fab mdui-ripple mdui-color-green-600" onclick="javascript:history.back(-1);">
            <!-- 默认显示的图标 -->
            <i class="mdui-icon material-icons">arrow_back</i>

            <!-- 在拨号菜单开始打开时，平滑切换到该图标，若不需要切换图标，则可以省略该元素 -->
            <i class="mdui-icon mdui-fab-opened material-icons">arrow_back</i>
        </button>
        <div class="mdui-fab-dial">
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink"><i class="mdui-icon material-icons">backup</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red"><i class="mdui-icon material-icons">bookmark</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange"><i class="mdui-icon material-icons">access_alarms</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue"><i class="mdui-icon material-icons">touch_app</i></button>
        </div>
    </div>
{% endif %}
<script src="{% static 'js/mdui.js' %}"></script>
</body>
</html>